.author-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.author-card{
    background-color: white;
    padding: 10px;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

.author-card span{
    font-style: italic;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

.author-card div{
    margin-top: 15px;
}