.card-container{
    width: 60%;
    height: 50%;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    flex: 50%;
    overflow: hidden;
}


.img-book img{
    width: 100%;
    height: 100%;
}